<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travelaero","area":"header","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
    <main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
        <!-- wp:pattern {"slug":"travelaero/hero-section"} /-->
        <!-- wp:pattern {"slug":"travelaero/service"} /-->
        <!-- wp:pattern {"slug":"travelaero/top-trips"} /-->
        <!-- wp:pattern {"slug":"travelaero/counter"} /-->
        <!-- wp:pattern {"slug":"travelaero/top-reviews"} /-->
        <!-- wp:pattern {"slug":"travelaero/partner"} /-->
        <!-- wp:pattern {"slug":"travelaero/latest-blog"} /-->
        <!-- wp:pattern {"slug":"travelaero/showcase"} /-->
    </div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"travelaero","area":"footer","align":"full"} /--></div>
<!-- /wp:group -->